artefacts/

# build
*.egg-info
build/
dist/

# docs build
site/

# notebooks
notebooks/
**/.ipynb_checkpoints/

# coverage
.coverage
.coverage.*

# cache
__pycache__/
.tox/

# editors
*.swp
.vscode/
.idea

# OS
.DS_Store
