site_name: booker

theme:
    name: material
    icon:
        admonition:
            note: octicons/tag-16
            abstract: octicons/checklist-16
            info: octicons/info-16
            tip: octicons/squirrel-16
            success: octicons/check-16
            question: octicons/question-16
            warning: octicons/alert-16
            failure: octicons/x-circle-16
            danger: octicons/zap-16
            bug: octicons/bug-16
            example: octicons/beaker-16
            quote: octicons/quote-16

plugins:
    - search
    - mkdocstrings

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format

nav:
    - Home: index.md
    - Getting Started: getting_started.md
    - Domain: domain.md
    - API:
        - Core: core.md
    - Roadmap: roadmap.md
    - Accounting:
        - Background: accounting_background.md

